:root {
    --bg-light: #ffffff;
    --text-light: #111111;
    --bg-dark: #000000;
    --text-dark: #ffffff;
    --accent-color: #007aff;
    --text-muted-light: #666;
    --text-muted-dark: #999;
    --border-light: #e2e2e2;
    --border-dark: #333333;
    --icon-filter: none;
}

.dark-theme {
    --icon-filter: invert(1);
}

/* Reset et styles de base */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: var(--bg-light);
    color: var(--text-light);
    transition:
        background-color 0.3s,
        color 0.3s;
}

body.dark-theme {
    background-color: var(--bg-dark);
    color: var(--text-dark);
}

/* Layout */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

/* Typography */
h1 {
    font-size: 3.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    letter-spacing: -0.5px;
}

/* Page d'accueil */
.home-content {
    text-align: center;
    margin: auto 0;
}

.description {
    max-width: 600px;
    margin: 0 auto 2rem;
    font-size: 1.25rem;
    color: var(--text-muted-light);
}

.dark-theme .description {
    color: var(--text-muted-dark);
}

/* Liens et boutons */
.links {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
}

.button {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 30px;
    background-color: var(--accent-color);
    color: white !important;
    font-weight: 500;
    transition: all 0.3s ease;
    border: none;
    font-size: 1.1rem;
}

.button:hover {
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0, 122, 255, 0.3);
}

/* Theme toggle */
#theme-toggle {
    z-index: 1000;
    background: none;
    position: fixed;
    top: 1.5rem;
    right: 1.5rem;
    padding: 0.8rem;
    border: 2px solid var(--border-light);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#theme-toggle img {
    width: 20px;
    height: 20px;
    filter: var(--icon-filter);
}

.dark-theme #theme-toggle {
    border-color: var(--border-dark);
}

#theme-toggle:hover {
    transform: translateY(-2px);
    background-color: rgba(0, 0, 0, 0.1);
}

.dark-theme #theme-toggle:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

#theme-toggle .sun-icon {
    display: none;
}

#theme-toggle .moon-icon {
    display: block;
}

.dark-theme #theme-toggle .sun-icon {
    display: block;
}

.dark-theme #theme-toggle .moon-icon {
    display: none;
}

/* Page CV */
.cv-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.cv-header {
    text-align: center;
    margin-bottom: 4rem;
}

.cv-section {
    margin-bottom: 3rem;
}

.cv-section h2 {
    color: var(--text-light);
    margin-bottom: 2rem;
    font-size: 2rem;
}

.dark-theme .cv-section h2 {
    color: var(--text-dark);
}

.cv-item {
    margin-bottom: 2rem;
}

.cv-item h3 {
    color: var(--accent-color) !important;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}

.cv-item ul {
    margin: 1rem 0;
    padding-left: 1.5rem;
}

.cv-item li {
    margin-bottom: 0.5rem;
}

.date {
    color: var(--text-muted-light);
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

.dark-theme .date {
    color: var(--text-muted-dark);
}

/* Skills */
.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.skill-tag {
    background-color: var(--accent-color) !important;
    color: white !important;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.9rem;
}
